body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 12px;
}

form {
	margin: 0px;
	padding: 0px;
}

.leftTd {
	background-image: url("/cms/img/cms/left.jpg");
	background-position: left top;
	background-repeat: no-repeat;
	padding: 190px 20px 0px 0px;
}

.left {
	overflow: hidden;
	width: 270px;
}

.left ul {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	list-style: none;
}

.left li {
	white-space: nowrap;
}

.left a {
	text-decoration: none;
	color: black;
}

.left a:hover {
	color: #75c5f0;
}

.left .hidden {
	color: Gray;
}

.left .notPublished {
	color: Brown;
}

.left strong {
	font-size: 16px;
}

.top {
	background-image: url("/cms/img/cms/top-center.jpg");
	background-repeat: repeat-x;
	float: right;
	
}

.center {
	padding-right: 50px;
}

.topmain {
	padding: 0px 20px;
}

.topmain br {
	clear: left;
}

.topmain a {
	display: block;
	float: left;
	border: 1px dotted #999999;
	background-color: #eeeeee;
	margin: 1px;
	padding: 2px;
	color: black;
	text-decoration: none;
}

.topmain a:hover {
	border: 1px solid #75c5f0;
}

.topmain img {
	display: block;
	border: 0px;
}

.flash {
	line-height: 0px;
}

.tophelp {
	float: right;
	background-color: #75c5f0;
	width: 390px;
	height: 39px;
	overflow: hidden;
	background-image: url("/cms/img/cms/tophelp-center.jpg");
	background-repeat: repeat-x;

}

.tophelp img {
	display: block;
}

.vartitle {
	font-size: 16px;
	color: gray;
	margin-top: 20px;
}


.blockHead {
	background-image: url("/cms/img/cms/bh-center.jpg");
	background-repeat: repeat-x;
	line-height: 17px;
	cursor: pointer;
	margin-top: 2px;
}

.blockHead img {
	display: block;
}

.block {
	overflow: hidden;
	margin: 20px 0px;
	padding: 0px 30px;
	border-left: 1px dashed #999999;
	border-right: 1px dashed #999999;
}

.button {
	overflow: hidden;
	background-image: url("/cms/img/cms/button-center.jpg");
	background-repeat: repeat-x;
	line-height: 21px;
	cursor: pointer;
}

.varvalue {
	height: 80px;
	overflow: auto;
	padding: 5px;
	border: 1px solid #999999;
	background-color: #ffffff;
}

.cmsBackendBlock {
	vertical-align: middle;
}

.varvalue table, .varvalue td {
	border: 1px dashed #d0d0d0;
}

.license {
	overflow: auto;
	white-space: pre;
	border: 1px solid LightGrey;
	padding: 3px;
}

.list {
	margin: 5px;
	padding: 10px;
	border: 1px solid #999999;
	overflow: hidden;
}

.list_form {
	float: right;
	width: 50px;
	height: 30px;
	border-left: 1px dashed #d0d0d0;
	text-align: center;
	padding-top: 10px;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #75c5f0;
}

.list_form img {
	cursor: pointer;
}






#cmsColorPicker td {
	width: 10px;
	height: 10px;
}
